@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --background-color: #FFFFFF;
  --background-color-hover: #f5f5f5;
  --font-size-xxl: 40px;
  --font-size-xl: 30px;
  --font-size-lr: 24px;
  --font-size-lm: 20px;
  --font-size-ls: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --color-red: #FD5B5B;
  --color-blue: #1F77B4;
  --color-blue-hover: #3492d6;
  --color-blue-confirm: #acd2ee;
  --color-yellow: #F5AE4D;
  --color-yellow-hover: #f7bc68;
  --color-gray-10: #FAFAFA;
  --color-gray-100: #D9D9D9;
  --color-gray-200: #C5C5C5;
  --color-gray-300: #ADADAD;
  --color-gray-400: #757575;
  --color-gray-500: #575757;
  --color-gray-hover: #6f6f6f;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  position: relative;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 1040px;
  }
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-regular);
  overflow: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
  display: none;
}